<!-- <p id="notice"><%= notice %></p> -->
<div id="user-id" data-user-id="<%= current_user.id if user_signed_in? %>"></div>
<div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="card no-outline">
<!--         <div class="card-body">
          <small>
            Logged in as
          </small></br>
          <b>
            <%#= current_user.username%>
          </b>          
        </div> -->
      </div>
      <hr>
      <%= render 'form', room: Room.new %>
      <hr>
      <% @rooms.each do |room| %>
        <%= link_to room, class: 'room-link' do %>
        <% active_class = (@room == room) ? 'active' : '' %>
        <div class="card no-outline mb-2 room-card <%= active_class %>">
          <div class="card-body">
            <b><%= room.name %></b></br>
            <span class="member-count">
              <small><%= room.users.uniq.count %> Members</small>
            </span>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-9">
      <% if @room.present? %>
        <div class="chat-room">
          <nav class="navbar navbar-light bg-light mb-4">
            <span class="navbar-brand"><%= @room.name  %></span>
            <div class="pull-right">
              <button class="btn btn-primary" id="go_live">
                Go Live
              </button>
            </div>
          </nav>
          <div id="video_container" class="video_container mb-4">
            <video id="video" width="640" height="480" controls></video>
            <canvas id="canvas" width="640" height="480"></canvas>
            <img id='ima' style="width: 640px; height: 480px;">
          </div>
          <div id="message">
            <% @room.messages.each do |message| %>
              <%= render 'messages/message', message: message %>
            <% end %>
          </div>
          <div class="chat-box">
            <%= render 'messages/form', message: Message.new, room: @room %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function dataURLtoBlob(dataURL){
    binary = atob(dataURL.split(',')[1])
    array = []
    i = 0
    while(i < binary.length) {
      array.push(binary.charCodeAt(i))
      i++
    }
    return new Blob([ new Uint8Array(array) ], {type: 'image/png'})
  }

  document.getElementById("go_live").addEventListener("click", function() {
    const room_element = document.getElementById('room-id')
    canvas = document.getElementById('canvas')
    navigator.mediaDevices.getUserMedia({video: true})
    .then(function(stream) {
      console.log(stream)
      document.getElementById('video_container').style.display = 'block'
      video = document.querySelector('video')
      
      // if ('srcObject' of video){
        video.srcObject = stream
      // }
      // else{
        // video.src = window.URL.createObjectURL(stream)
      // }
      let i;

      video.play()
      video.onplay = (() => {
        if (canvas) {
          context = canvas.getContext('2d')
          i = window.setInterval(() => {
            context.drawImage(video, 0, 0, 640, 480)
            file = dataURLtoBlob(canvas.toDataURL())
            fd = new FormData
            fd.append('image', file)
            fd.append('channel', Number(room_element.getAttribute('data-room-id')))
            $.ajax({
              type: 'POST',
              url: '/go_live',
              data: fd,
              processData: false,
              contentType: false
            })
          },500)
        }
      })

      video.onpause = (() => {
        window.clearInterval(i)
      })
      // video.onended = ->
      //   window.clearInterval i
    })
    .catch(function(err) {
      console.log(err)
    });
  });
</script>


<!-- <h1>Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @rooms.each do |room| %>
      <tr>
        <td><%#= room.name %></td>
        <td><%#= link_to 'Show', room %></td>
        <td><%#= link_to 'Edit', edit_room_path(room) %></td>
        <td><%#= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Room', new_room_path %> -->
